

* { margin: 0; padding: 0; width:100%; }



html, body { 
	height:100%;
	width:100%;
 }



body {
	text-align: left;
	font-size: 72.5%;
	font-family: Helvetica, arial, sans-serif;
	color: #000;
	background: #fff;
	margin: 0;
	border: 0;
	padding: 0; }



a { color:#007ca5; text-decoration:none; outline: none; }

a:visited { color:#666; }

a:active { color:#999; }



.left_col a { color:#fff; text-decoration: none; outline: none; }

.left_col a:hover { color:#fff; text-decoration: underline; outline: none; }

.left_col a:visited { color:#fff; }

.left_col a:active { color:#fff; }



img, a img { border-style: none; }



h1, .h1 { font-size: 4.4em; }

h2, .h2 { font-size: 2em; } /* 20pt */

h3, .h3 { font-size: 1.8em; } /* 18pt */

h4, .h4 { font-size: 1.6em; } /* 16pt */

h5, .h5 { font-size: 1.4em; } /* 14pt */

h6, .h6 { font-size: 1.1em; } /* 11pt */

.small { font-size: .9em; }

.clearer { clear:both; }

.header {

	text-align: center;
	background: transparent;
	color: #4C4949;
	width: 100%;
	height:420px;
	margin: 0 0 0 0;
	border: 0;
	overflow: hidden;

	}

.left_col {
	clear: both;
	text-align: center;
	float: left;
	background: #007ca5;
	color: #fff;
	width: 100%;
	height: 8%;
	margin: 0 0 0 0;
	border: 0;
	overflow: hidden;


	}
.greyscale {

	-moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.greyout {
	background-color: #000;
	filter: rgba(0 0 0 99);
    opacity:.3;
}

.main_col {

	clear: both;
	text-align: left;
	float: right;
	background: #fff;
	color: #000;
	width: 100%;
	height: 100%;
	margin: 0 0 0 0;
	border: 0;
	overflow: hidden;

	}
#hero-image{
	height: 28%;
}

#herotext {
	width: 10%;
	margin: 0 0 0 43%;
	line-height: 5.6em;
}

span .logo {
	color:blue;
}

.footer {

	text-align: center;
	background: #eceae1;
	color: #000;
	width: 100%;
	margin: 0 0 0 0;
	border: 0;
	padding: 10px;
	overflow: hidden;

	}
.sidebar {
	float:left;
	margin: 1% 1% 2% 5%;
	display: inline;
	clear: none;
	width: 19%;
}

img {
	/*box-shadow: 0px 0px 20px 3px #d3d3d3;
	border-radius: 4px;*/
}

#herotext {

}

.left_col #page {
	background-color: inherit;
	height:100%;
}

.wrapper {

	text-align: center;

	width: 100%;
	height:100%;

	margin-left: auto;

	margin-right: auto;

	}