.fullw {
	width:100%;
}
.fullh {
	height:100%;
}
.ah {
	height:10%;
}
.bh {
	height:20%;
}
.ch {
	height:30%;
}
.dh {
	height:40%;
}
.eh {
	height:50%;
}
.fh {
	height:60%;
}
.gh {
	height:70%;
}
.hh {
	height:80%;
}
.ih {
	height:90%;
}

.aw {
	width:10%;
}
.bw {
	width:20%;
}
.cw {
	width:30%;
}
.dw {
	width:40%;
}
.ew {
	width:50%;
}
.fw {
	width:60%;
}
.gw {
	width:70%;
}
.hw {
	width:80%;
}
.iw {
	width:90%;
}
